@model  IEnumerable<RotasMVC.Models.Noticia>

@{
    ViewBag.Title = "Rotas e asp.net em mvc";

}


<div>
    <ul>
        @foreach (var item in Model) {

        <li>
            @*      usando a instrução 7 do parametro actionLink        *@
            @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
       {
           @NoticiaId = item.NoticiaId,
           @Categoria = item.Categoria.ToLower(),
           @Titulo = item.Titulo.ToLower()
            },null);
            <em>@Html.DisplayFor(ModelItem => item.Categoria)</em>
            <b>@Html.DisplayFor(ModelItem => item.Data)</b>
        </li>

        }
    </ul>
</div>
